.DS_Store
.env
.env.local
.env.production
.phpunit.result.cache
.vscode
.idea

backend/laravel/.env
backend/laravel/.env.backup
backend/laravel/.env.production
backend/laravel/vendor
backend/laravel/node_modules
backend/laravel/composer-cache
backend/laravel/composer-home
backend/laravel/public/build
backend/laravel/public/hot
backend/laravel/storage/logs/*.log

frontend/missandmisterfront/.env
frontend/missandmisterfront/.vercel
frontend/missandmisterfront/node_modules
frontend/missandmisterfront/dist
frontend/missandmisterfront/src.zip

missreineketou_bd.sql
backend/laravel/recharge.php
backend/laravel/recharge_callback.php
frontend/missandmisterfront/src/assets/ChatGPT Image 14 avr. 2026, 23_53_29.png
information du projet\ 
