node_modules
vendor
.composer-cache
composer-home
.env
.env.backup
.env.production
.git
.gitignore
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
tests
docs
scripts
